Proyecto1_2s19_201503712/Proyecto1_2s19_201503712/Connected Services/localhost/Rutas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnalizarPruebaCQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cadena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnalizarPruebaCQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnalizarPruebaCQLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AnalizarPruebaCQLSoapIn">
    <wsdl:part name="parameters" element="tns:AnalizarPruebaCQL" />
  </wsdl:message>
  <wsdl:message name="AnalizarPruebaCQLSoapOut">
    <wsdl:part name="parameters" element="tns:AnalizarPruebaCQLResponse" />
  </wsdl:message>
  <wsdl:portType name="RutasSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnalizarPruebaCQL">
      <wsdl:input message="tns:AnalizarPruebaCQLSoapIn" />
      <wsdl:output message="tns:AnalizarPruebaCQLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RutasSoap" type="tns:RutasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalizarPruebaCQL">
      <soap:operation soapAction="http://tempuri.org/AnalizarPruebaCQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RutasSoap12" type="tns:RutasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalizarPruebaCQL">
      <soap12:operation soapAction="http://tempuri.org/AnalizarPruebaCQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Rutas">
    <wsdl:port name="RutasSoap" binding="tns:RutasSoap">
      <soap:address location="http://localhost:47252/Rutas.asmx" />
    </wsdl:port>
    <wsdl:port name="RutasSoap12" binding="tns:RutasSoap12">
      <soap12:address location="http://localhost:47252/Rutas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>